[project]
name = "backend"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "geopandas>=1.1.1",
    "matplotlib>=3.10.7",
    "pyproj>=3.7.2",
    "rasterio>=1.4.3",
    "shapely>=2.1.2",
]
